body{
    margin: 0;
    padding: 0;
}
img{
    width: 150px;
    height: 150px;
}
.imgsection img{
    height: 300px;
    width: 300px;
}

.detailimg img{
    height: auto;
    width: auto;
}
/* footer */
#logoicon img{
    height: 20px;
    width: 22px;
}
.copyright:before{
    content: '\00A9';
}
/*Contact.html*/
.contact-us{
    padding: 10px;
}
/*login.html*/
.login{
    padding: 10px;
}
